body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  margin-top: 10px;
}

#main {
  float: left;
  width: 750px;
}

#sidebar {
  float: right;
  width: 100px;
}

#table {
  float: right;
  width: 500px;
}

#table {
  background-color: #e0e0e0;
}
#table > thead {
  background-color: #e0e0e0;
  font-weight: bold;
}
#table th.size, #table td.size {
  width: 30%;
  text-align: center;
}

tr.l1 {
  background-color: #f0f0f0;
  padding-left: 10px;
  font-weight: bold;
}
tr.l2 {
  background-color: #f6f6f6;
  padding-left: 20px;
}
tr.l1:hover, tr.l2:hover {
  background-color: #ccc;
}

#filter-depth {
  text-align: right;
}

#sequence {
  width: 900px;
  height: 50px;
  margin: 10px 0 10px 0;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  position: absolute;
  font-weight: 600;
  fill: #fff;
  text-align: right;
}

#chart {
  width: 900px;
  height: 900px;
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 400px;
  left: 300px;
  width: 300px;
  font-size: 1.5em;
  text-align: center;
  color: #666;
  z-index: -1;
}

#explanation > span {
  display: block;
}

#expl_per, #expl_size {
  font-size: 1.6em;
}

#sidebar, #chart, #sequence, #table {
  border: 0px solid red;
}
